.main-applications{
    background: #FCFCF5;
}
.application-header{
width: 1440px;
height: 94px;
left: calc(50% - 1440px/2);
top: 0px;
display: flex;
background: #FCFCF5;
position:sticky;
}
.on-campus{
    position: absolute;
width: 103px;
height: 26px;
left: 32px;
top: 45px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 26px;
/* identical to box height */


/* primary */

color: #41337A;
}
.apply-filters{
width: 150px;
height: 22px;
margin-left: 764px;
margin-top: 51px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* text */

color: #232C33;

}

.finish{
    position: absolute;
width: 215px;
height: 26px;
left: 372px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 26px;
/* identical to box height */


/* text */

color: #232C33;
background:#FCFCF5;
opacity: 0.5;
}