.forumMain {
  display: flex;
  flex-direction: row;
  background-color: #fcfcf5;
}

.forumMainRight {
  margin-left: 32px;
}
.number-of-responses {
  width: 102px;
  height: 26px;
  margin-left: 36px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 26px;
  /* identical to box height */

  /* text */

  color: #232c33;
}
