.profile-button{
width: 290px;
height: 48px;
margin-left: 886 px;
margin-top: 34px;
display: flex;
/* primary */

background: #41337A;
border-radius: 14px;
}
.profile-name{
width: 80px;
height: 18px;
margin-top: 8px;
margin-left: 10px;
margin-bottom: 22px;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
/* bg */
color: #FCFCF5;
}
.profile-button >img{
width: 36px;
height: 36px;
margin-left: 6px;
margin-top: 6px;
border-radius: 10px;
}